
manifest {
    description = 'Proof of concept of a RNA-seq pipeline implemented with Nextflow'
    nextflowVersion = '!>=25.10.0'
}

workflow.output.mode = 'copy'

profiles {
    test {
        params.reads = "${projectDir}/data/input.json"
        params.transcriptome = "${projectDir}/data/ggal/ggal_1_48850000_49020000.Ggal71.500bpflank.fa"
    }
}
